<a href="https://colab.research.google.com/github/anissateyeb/GoMyCode/blob/main/anissa_pandas.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [75]:
import pandas as pd
import numpy as np
exam_data  = { 'étiquettes' : ['a', 'b', 'c', 'd', 'e', 'f', 'g', 'h', 'i', 'j'],
    'name' :  ['Anastasia', 'Dima', 'Katherine', 'James', 'Emily', 'Michael', 'Matthieu', 'Laura', 'Kevin', 'Jonas'],
    'note' : [12.5, 9, 16.5, np.nan, 9, 20, 14.5, np.nan, 8, 19],
    'tentatives' : [1, 3, 2, 3, 2, 3, 1, 1, 2, 1],
    'qualification' : ['oui', 'non', 'oui', 'non', 'non', 'oui', 'oui', 'non', 'non', 'oui']}

df = pd.DataFrame(exam_data)
df= df.set_index('étiquettes')
print(df)
df1=df.head(3)
print(df1)
df2=df.dropna()
print(df2)
df3=df[['name', 'note']]
print(df3)
exam_data2  = { 'étiquettes' : ['k'], 'name' : ['Suresh'], 'note' : [15.5], 'tentatives' : [1], 'qualification' : ['oui']}
df4=pd.DataFrame(exam_data2)
df4=df4.set_index('étiquettes')
print(df4)
df5= pd.concat([df,df4])
print(df5)
df6=df5.drop("tentatives", axis=1)
print(df6)
df7['Succès']= df6.apply(lambda x: 1 if x['note']>10 else 0, axis=1)
print(df7)
df7.to_csv('my_data.csv')

                 name  note  tentatives qualification
étiquettes
a           Anastasia  12.5           1           oui
b                Dima   9.0           3           non
c           Katherine  16.5           2           oui
d               James   NaN           3           non
e               Emily   9.0           2           non
f             Michael  20.0           3           oui
g            Matthieu  14.5           1           oui
h               Laura   NaN           1           non
i               Kevin   8.0           2           non
j               Jonas  19.0           1           oui
                 name  note  tentatives qualification
étiquettes
a           Anastasia  12.5           1           oui
b                Dima   9.0           3           non
c           Katherine  16.5           2           oui
                 name  note  tentatives qualification
étiquettes
a           Anastasia  12.5           1           oui
b                Dima   9.0           3           non
c           Katherine  16.5           2           oui
e               Emily   9.0           2           non
f             Michael  20.0           3           oui
g            Matthieu  14.5           1           oui
i               Kevin   8.0           2           non
j               Jonas  19.0           1           oui
                 name  note
étiquettes
a           Anastasia  12.5
b                Dima   9.0
c           Katherine  16.5
d               James   NaN
e               Emily   9.0
f             Michael  20.0
g            Matthieu  14.5
h               Laura   NaN
i               Kevin   8.0
j               Jonas  19.0
              name  note  tentatives qualification
étiquettes
k           Suresh  15.5           1           oui
                 name  note  tentatives qualification
étiquettes
a           Anastasia  12.5           1           oui
b                Dima   9.0           3           non
c           Katherine  16.5           2           oui
d               James   NaN           3           non
e               Emily   9.0           2           non
f             Michael  20.0           3           oui
g            Matthieu  14.5           1           oui
h               Laura   NaN           1           non
i               Kevin   8.0           2           non
j               Jonas  19.0           1           oui
k              Suresh  15.5           1           oui
                 name  note qualification
étiquettes
a           Anastasia  12.5           oui
b                Dima   9.0           non
c           Katherine  16.5           oui
d               James   NaN           non
e               Emily   9.0           non
f             Michael  20.0           oui
g            Matthieu  14.5           oui
h               Laura   NaN           non
i               Kevin   8.0           non
j               Jonas  19.0           oui
k              Suresh  15.5           oui
                 name  note qualification  Succès
étiquettes
a           Anastasia  12.5           oui       1
b                Dima   9.0           non       0
c           Katherine  16.5           oui       1
d               James   NaN           non       0
e               Emily   9.0           non       0
f             Michael  20.0           oui       1
g            Matthieu  14.5           oui       1
h               Laura   NaN           non       0
i               Kevin   8.0           non       0
j               Jonas  19.0           oui       1
k              Suresh  15.5           oui       1