<a href="https://colab.research.google.com/github/anissateyeb/GoMyCode/blob/main/Anissa_Checkpoint.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
#Question 1
def multiplicate_list(my_list):
  R=1
  for i in my_list:
    R=R*i
  return(R)
L=[2,3,6]
print(multiplicate_list(L))

36

In [ ]:
#Question 2
def getKey(tuple):
  return tuple[-1]
L=[(2, 5), (1, 2), (4, 4), (2, 3), (2, 1)]
sorted(L, key =getKey)

[(2, 1), (1, 2), (2, 3), (4, 4), (2, 5)]

In [ ]:
#Question 3
from collections import Counter
def combine_dict(my_dict1, my_dict2):
  d = Counter(my_dict1) + Counter(my_dict2)
  return d
d1 = {'a' : 100, 'b' : 200, 'c' : 300}
d2 = {'a' : 300, 'b' : 200, 'd' : 400}
print(combine_dict(d1,d2))

Counter({'a': 400, 'b': 400, 'd': 400, 'c': 300})

In [ ]:
#Quetion 4
my_dict={}
for i in range(1,9,1):
  my_dict[i]=i*i
print(my_dict)

{1: 1, 2: 4, 3: 9, 4: 16, 5: 25, 6: 36, 7: 49, 8: 64}

In [1]:
#Question6
my_set={0,1,2,3,4}
my_set.add(5)
my_set.remove(1)
print(my_set)

{0, 2, 3, 4, 5}